@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;600;700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header{padding: 30px 80px;}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.ul{
    display: flex;
}

nav li{
list-style: none;
margin-right: 40px;
color: #3C354F;
text-align: center;
font-size: 18px;
font-weight: 500;
}
nav li a{
    text-decoration: none;
}
.nav-taitel{
    text-align: left;
font-size: 45px;
font-weight: 700;
}
.banner{
    display: flex;
    margin: 40px;
    justify-content: space-between;
}
.banner-taitel-1{
    color: #0B0223;
font-size: 48px;
font-style: normal;
font-weight: 600;
text-transform: uppercase;
margin-bottom: 10px;
}
.banner-taitel-2{
   color: rgb(244, 16, 244);
    font-size: 48px;
font-style: normal;
font-weight: 600;

text-transform: uppercase;
margin-top: 10px;
margin-bottom: 10px;
}
.bnt-primary{
    color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: none;
}
.bnt{
    color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
border: none;
}
.banner-content{ background-image: url(../images/Group\ 14.png);
   
}
.banner-img{
    width: 770px;
height: 450px;
}
.button{
    display: flex;
    gap: 20px;
}
main{
    padding: 30px 100px;
}
.main-section{
    display: flex;
    align-items: center;
    gap: 20px;
}    
.main-content{
    text-align: right;
}
.mani-taitel{
    color:rgb(238, 26, 150) ;
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
}
.online{
    text-align: center;
}
.game{
    color: #0B0223;
font-size: 48px;
font-weight: 700;
margin-bottom: 20px;
}
.game-p{
    color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
margin-top: 20px;
}
.img{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}
.img{
    width: 342px;
height: 400px;
flex-shrink: 0;
}
main{
height: 5927px;
}
.play{
    display: flex;
    margin-top: 230px;
    align-items: center;
    gap: 50px;
    padding: 0px 50px;
   
    
    
    
}
.play-content{
   
}
.play-taitel{
font-size: 48px;
font-weight: 700;
line-height: 60px;
}
.play-p{
    color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
}
.cat{
    position: relative;
    bottom: 150px;
}
.hors{
    position: relative;
    left:  80px;
    top: 40px;
}
.sponser{
    display: flex;
 gap: 40px;
 margin: 30px;
 align-items: center;
}
.sponser2{
    display: flex;
    gap: 70px;
 margin: 30px;
 align-items: center;
}
.pp{
    color: #0B0223;
font-size: 20px;
font-weight: 600;

}







